<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
     <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>com.app.integrador.controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIMG</servlet-name>
        <servlet-class>com.app.integrador.controlador.ControladorIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorM</servlet-name>
        <servlet-class>com.app.integrador.controlador.ControladorM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorU</servlet-name>
        <servlet-class>com.app.integrador.controlador.ControladorU</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIMG</servlet-name>
        <url-pattern>/ControladorIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorM</servlet-name>
        <url-pattern>/ControladorM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorU</servlet-name>
        <url-pattern>/ControladorU</url-pattern>
    </servlet-mapping>
</web-app>
